h1{
    text-align: center;

}
.row .col {
    height: 180px;
    background: green;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 3px solid black;
}
#col-1 {
    background: red
}
img{
    height: 150px;
    width: 150px;
}